<p id="notice"><%= notice %></p>

<p>
  <strong>Trainer:</strong>
  <%= @team.Trainer %>
</p>

<p>
  <strong>Course:</strong>
  <%= @team.Course %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @team.initial_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @team.end_date %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @team.workload %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
