<h1>Sistema de gerenciamento de cursos</h1>

<ul>
    <li><%= link_to "Alunos", students_path %></li>
    <li><%= link_to "Cursos", courses_path %></li>
    <li><%= link_to "Instrutores", trainers_path %></li>
    <li><%= link_to "Matriculas", enrrolments_path %></li>
    <li><%= link_to "Turmas", teams_path  %></li>
</ul>